* {
    box-sizing: border-box;
    margin: 0;
    transition: .5s ease-in-out;
    padding: 0;
}

:root {
  --body-bg: #fafafa;
  --ancorar:#fafafa;
  --body-color: #555;
  --link-color: #222;
  --color-principal:rgb(28, 179, 129);
  --link-color-hover: #fee1dd;
  --figura_claro_escuro: url("./images/modo-noturno.png");
  --invert-color:invert(100%);
  --background_figura: black;
}

.dark-mode:root {
  --body-bg: #212529;
  --ancorar:#212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --color-principal:#ec5840;
  --link-color-hover: #110d12;
  --figura_claro_escuro: url("images/ideia.png");
  --invert-color:invert(0%);
  --background_figura: white;
}
 
body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

hr {
    border: var(--ancorar);
}
 
a {
    text-decoration: none;
    color: var(--link-color);
   
}

a:hover {
    letter-spacing: 2px;
    color: var(--link-color-hover);
}

/* animações para os elementos de textos */
@keyframes links {
    50% {
        transform: translateX(50%);    
    }

    50% {
        transform: translateX(-20%);
    }
}

header {
    display: flex;
    justify-content:space-between;
    height: 120px;
    margin-bottom: 3%;
    top: 0;
    z-index: 1;
    position: sticky;
}

header div#background_ancoras {
    background-color: var(--color-principal);
    width: 75px;
    height: 75px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 75px;
} 

header div#background_ancoras ul {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header div#background_ancoras ul li{
    margin-left: 5%;
    text-decoration: none;
    list-style: none;
    font-family: fantasy;
    font-size: large;

}

header div#background_ancoras ul li:hover {
    animation: links .5s ease-in-out;
}

header div#background_ancoras:hover {
    width: 50%;
    height: 60%;
    margin-right: .5%;
    margin-top: .5%;
    cursor:pointer;
}

header div#background_ancoras figure#figura_menu_conteiner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}

header div#background_ancoras figure#figura_menu_conteiner img {
    width: 20px;
}

header figure#modo_claro_escuro {
    width: 75px;
    height: 75px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 75px;
    background-color:black;
    cursor: pointer;
    background-color: var(--background_figura);
}  

header figure#modo_claro_escuro:hover {
    width: 6%;
    height:80px;
}
 
header figure#modo_claro_escuro img {
    width: 50%;
    position: relative;
    top: 50%;
    margin-left: 25%;
    transform: translateY(-50%);
    filter: var(--invert-color);
}

/* desenvolvendo seção sobre */
main section#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section#sobre div#conteiner_titulo {
    width: 97%;
    
    margin-bottom: 2%;
}

main section#sobre div#conteiner_titulo h1 {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight:bolder;
    font-family:Alkatra;
    color: var(--color-principal);
}

main section#sobre div#conteiner_descricao {
    display: flex;
    justify-content: center;
}

main section#sobre div#conteiner_descricao figure#conteiner_figura1{
    display: flex;
    width: 60%;
    height: 500px;

}
main section#sobre div#conteiner_descricao figure#conteiner_figura1 img{
    width: 100%;
}

main section#sobre div#conteiner_descricao div#subConteiner_descricao {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3%;
    margin-left: -12%;
    height: 300px;
}

main section#sobre div#conteiner_descricao div#subConteiner_descricao h2#subTitulo_Sobre {
    color: var(--color-principal);
    font-style: italic;
    font-family: fantasy;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 5%;
} 

main section#sobre div#conteiner_descricao div#subConteiner_descricao div#texto {
    overflow-y: scroll;
}


main section#sobre div#conteiner_descricao div#subConteiner_descricao div#texto::-webkit-scrollbar {
    width: 7px;
}

main section#sobre div#conteiner_descricao div#subConteiner_descricao div#texto::-webkit-scrollbar-track {
    background-color: var(--body-bg);
}

main section#sobre div#conteiner_descricao div#subConteiner_descricao div#texto::-webkit-scrollbar-thumb {
    background-color: var(--color-principal);
    border-radius: 10px;
}

main section#sobre div#conteiner_descricao div#subConteiner_descricao div#texto p {
    font-family: Noto Sans Avestan;
    font-weight:600;
    letter-spacing: 1px;
    word-spacing: 5px;
}



